:root, .btn {
  font-size: 16px;
  --bs-btn-padding-x: 32px;
  --bs-btn-padding-y: 16px;
  --bs-btn-font-family: $font-family-sans-serif;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: bold;
  --bs-btn-line-height: normal;
}

