// Custom.scss

@import "./colors";

$nav-pills-link-active-color: $primary;
$nav-pills-link-active-bg: white;
$nav-link-color: white;
$nav-link-padding-y: 1rem;
$nav-link-padding-x: 1rem;
$nav-link-font-size: 24px;

$btn-border-radius: 50rem;
$btn-border-radius-sm: 50rem;
$btn-border-radius-lg: 50rem;

$accordion-button-icon: url("./../assets/zomfast-accordion-icon.png");
$accordion-button-active-icon: url("./../assets/zomfast-accordion-icon.png");
$accordion-color: $text;
$accordion-border-width: 1px;
$accordion-border-color: rgba($primary, 0.8);
$accordion-button-active-bg: white;
$accordion-button-active-color: $text;

@import "./custom";
@import "./font";
@import "./breakpoints";
@import "./input";


$theme-colors: map-merge($theme-colors, $zomfast-colors);
// $colors: map-merge($colors, $zomfast-colors);
$utilities: map-merge($utilities,
    ("color": map-merge(map-get($utilities, "color"),
        (values: map-merge(map-get(map-get($utilities, "color"), "values"),
            ($zomfast-colors),
          ),
        ),
      ),
    ));

@import "bootstrap/scss/bootstrap";

// 因為 h1~h6 會因為 rfs 引擎的關係，讓字體大小和設計稿不同，所以在此直接定義，不透過修改變數完成
@import "./root";
@import "./heading";
@import "./buttons";